<h1>Products</h1>

<% @products.each do |product| %>
  <div>
    <h2><%= link_to product.name, product_path(product) %></h2>
    <p><%= product.description %></p>
    <p>Price: <%= number_to_currency(product.price) %></p>
  </div>
<% end %>
